<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bitschool.basic.PostMapper">
	<select id="listAll" resultType="BPostDTO">
		select * from post order by postNo desc
	</select>
	
	<select id="selectRange" resultType="BPostDTO" parameterType="BPageVO">
		select * from
			(select rownum as num, temp.* from
			(select * from post order by postNo desc) temp)
		where num between #{start} and #{end} and boardname = #{boardName}
	</select>

	<insert id="insert" parameterType="BPostDTO">
			<selectKey keyProperty="postNo" resultType="int" order="BEFORE">
				<if test="boardName == 'free'">
					select postNo.nextval from dual
				</if>
				<if test="boardName == 'notice'">
					select noticeNo.nextval from dual
				</if>
				<if test="boardName == 'file'">
					select fileNo.nextval from dual
				</if>
				<if test="boardName == 'comments'">
					select commentsNo.nextval from dual
				</if>
			</selectKey>
		insert into post(postNo,postTitle,postContents,userId,boardName) values
		(#{postNo},#{postTitle},#{postContents},#{userId},#{boardName})
	</insert>
	
	<update id="updateCnt" parameterType="BPostNoInfoDTO">
		update post set postCount = postCount + 1 where postNo = #{postNo} and boardName = #{boardName}
	</update>
	
	<select id="selectOne" parameterType="BPostNoInfoDTO" resultType="BPostDTO">
		select * from post where postNo = #{postNo} and boardName = #{boardName}
	</select>
	
	<delete id="deleteOne" parameterType="BPostNoInfoDTO">
		delete from post where postNo = #{postNo} and boardName = #{boardName}
	</delete>
	
	<update id="updateContents" parameterType="BPostDTO">
		update post set postTitle = #{postTitle}, postContents = #{postContents} where postNo = #{postNo} and boardName = #{boardName}
	</update>
	
	<select id="selectSearch" resultType="BPostDTO" parameterType="BSearchVO">
		select * from
			(select rownum as num, temp.* from
			(select * from post where postTitle like '%'||#{query}||'%' or postContents = '%'||#{query}||'%') temp)
		 where num between #{vo.start} and #{vo.end} and boardName = #{boardName}
		 order by num desc
	</select>
</mapper>
