<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bitschool.basic.PlaceMapper">
				
	<!-- [광고주] 모임공간 등록 -->
	<insert id="insertPlaceRegist" parameterType="PlaceDTO">
		<selectKey keyProperty="placeNo" resultType="int" order="BEFORE">
			select placeSeq.nextval from dual
		</selectKey>
			insert into place(placeNo, placeImage, placeType, placeName, placeIntro, placeAddr1, placeAddr2, placeAddr3, placeAddr4, 
			placeTel, placeURL, placePerCnt, placeUseTime, placeNotUseDay, placeCost, placeCostChoice, placeParking, placeContent, comId) 
			values(#{placeNo}, #{placeImage}, #{placeType}, #{placeName}, #{placeIntro}, #{placeAddr1}, #{placeAddr2}, #{placeAddr3}, #{placeAddr4}, 
			#{placeTel}, #{placeURL}, #{placePerCnt}, #{placeUseTime}, #{placeNotUseDay}, #{placeCost}, #{placeCostChoice}, #{placeParking}, #{placeContent}, #{comId})			
	</insert>		

	<!-- [광고주] 모임 전체 조회 -->
	<select id="selectPlaceListAll" resultType="PlaceDTO">
		select * from place order by placeNo desc
	</select>
	
	
	<!-- [광고주] 선택한 모임 상세 조회 -->
	<select id="selectPlaceDetail" parameterType="int" resultType="PlaceDTO">
		select * from place, company where placeNo = #{placeNo}
	</select>
	
</mapper>